apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-service
  namespace: bdsandbox
  labels:
    app: ml-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
      - name: ml-service
        image: ml-service:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
          name: http
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: ml-service
  namespace: bdsandbox
  labels:
    app: ml-service
spec:
  type: NodePort
  ports:
  - port: 8081
    targetPort: 8081
    nodePort: 30082
    protocol: TCP
    name: http
  selector:
    app: ml-service
