apiVersion: apps/v1
kind: Deployment
metadata:
  name: bdsandbox-web
  namespace: bdsandbox
  labels:
    app: bdsandbox-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bdsandbox-web
  template:
    metadata:
      labels:
        app: bdsandbox-web
    spec:
      containers:
      - name: web
        image: bdsandbox-web:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: bdsandbox-web-service
  namespace: bdsandbox
  labels:
    app: bdsandbox-web
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30081
    protocol: TCP
    name: http
  selector:
    app: bdsandbox-web
